body {
    margin: 0;
    background: #1F2937;
    color: white;
    margin: 115px 52px;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    margin: 0;
}

span {
    color: #4ADF86;
}

h3 {
    color: #D5D4D8;
    font-family: 'Inter';
    font-weight: 200;
    font-size: 20px;
    margin: 10px 0 0;
}

button {
    background: #10B981;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 9px 16px;
    margin: 51px 0 0;
}

#line-el {
    background: #2F3E53;
    width: 446px;
    height: 0.5px;
    margin: 35px 0 35px;
}

#passwords {
    display: flex;
    justify-content: space-between;
    width: 446px;
}

#passwords p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 211px;
    min-height: 39px;
    background: #273549;
    border-radius: 6px;
    margin: 0;
    font-family: 'Inter';
    color: #55F991;
}